<div>
  <div class="card border-0">
  <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= @spot.thumbnail %>);">

    <div style="margin: auto;">

    <!-- Back icon -->

    <div class="spot-banner-top-icons">
      <%= link_to :back do %>
        <i class="fas fa-arrow-left white-arrow"></i>
      <% end %>
    </div>

    <!-- Spot name -->

    <div class="show-banner-name">
      <div>
        <h1 ><%= @spot.name %></h1>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="save-buttons">
    <div id="w<%= @spot.id %>" class="flex-fill">
      <%= render 'shared/wishlist-button', spot: @spot %>
    </div>
    <div style="width: 8px"></div>
    <div id="<%= @spot.id %>" class="flex-fill">
      <%= render 'shared/visited-button', spot: @spot %>
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary mt-2" data-toggle="modal" data-target="#exampleModalCenter">
  Review
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <%= render "reviews/review-modal" %>

  </div>
</div>


</div>
