<nav class="navbar fixed-top">

  <div id="mySidenav" class="sidenav">

      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <% if user_signed_in? %>

    <div>

      <%= link_to user_path(current_user), class: "dropdown-item nav-label" do %>
        <div class="d-flex">
          <i class="far fa-laugh-beam pr-3" style="width: 40px"></i>
          <p class="m-0">Profile</p>
        </div>
      <% end %>

      <%= link_to lists_path, class: "dropdown-item nav-label" do %>
        <div class="d-flex">
          <i class="far fa-list pr-3" style="width: 40px"></i>
          <p class="m-0">Saved Spots</p>
        </div>
      <% end %>

    </div>

    <div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item nav-label" %>
    </div>

    <% else %>

    <div>
      <%= link_to "Login", new_user_session_path, class: "dropdown-item nav-label" %>
    </div>

    <% end %>
  </div>

  <i class="far fa-bars navbar-icon" onclick="openNav()"></i>


  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag('logohoz.png', class: 'navbar-logo') %>
  <% end %>

  <!-- Map -->

  <%= link_to maps_path do %>
    <div>
      <i style="position:relative" class="fal fa-map navbar-icon <%= 'nav-active' if params[:section] == 'maps' %>">
        <i id="navbar-catchup-badge" class="catchup-badge hidden"></i>
      </i>
    </div>
  <% end %>

</nav>
