<div class="page">

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card text-white">
          <div class="fill">
            <%= image_tag('breakfast.jpg') %>
          </div>
          <div class="card-img-overlay">
            <div class="carousel-text">
              <h5 class="card-title">Katchup</h5>
              <p class="card-text">The foodie review app for friends.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card text-white">
          <div class="fill">
            <%= image_tag('cafe.jpg') %>
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title">Wishlist</h5>
            <p class="card-text">Store all the restaurants, cafes & bars you want to try.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card text-white">
          <div class="fill">
            <%= image_tag('cookie.jpg') %>
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title">Been there done that</h5>
            <p class="card-text">Save and review the spots you've visited.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card text-white">
          <div class="fill">
            <%= image_tag('interior.jpg') %>
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title">Recommend</h5>
            <p class="card-text">Share your favourite spots with your friends.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card text-white">
          <div class="fill">
            <%= image_tag('gyoza.jpg') %>
          </div>
          <div class="card-img-overlay">
            <h5 class="card-title">Discover</h5>
            <p class="card-text">See what spots your friends recommend and want to try.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <%= link_to user_facebook_omniauth_authorize_path do %>
      <div class="btn btn-fb btn-block">
        <i class="fab fa-facebook-square"></i>
        <p>Continue with Facebook</p>
      </div>
    <% end %>
  </div>

</div>
