<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Katchup</title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('logo2.png') %>

<!--     <meta name="viewport" content="width=device-width, initial-scale=1">
 -->
    <link rel="manifest" href="manifest.json">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1f9cc9e6ce.js"></script>

    <!-- Bootstrap mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- home screen logo -->
    <link rel="apple-touch-icon" href="logo-phone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="logo-phone.png">
    <link rel="apple-touch-icon" sizes="180x180" href="logo-phone.png">
    <link rel="apple-touch-icon" sizes="167x167" href="logo-phone.png">

    <!-- loading splash page -->

    <meta name="apple-mobile-web-app-capable" content="yes" />
<!--     <link href="/apple_splash_2048.png" sizes="2048x2732" rel="apple-touch-startup-image" />
    <link href="/apple_splash_1668.png" sizes="1668x2224" rel="apple-touch-startup-image" />
    <link href="/apple_splash_1536.png" sizes="1536x2048" rel="apple-touch-startup-image" /> -->
    <link href="/launch-iphonex.png" sizes="1125x2436" rel="apple-touch-startup-image" />
<!--     <link href="/apple_splash_1242.png" sizes="1242x2208" rel="apple-touch-startup-image" />
    <link href="/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image" />
    <link href="/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image" /> -->

  </head>
  <body>
    <%= render 'shared/geolocation' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="container wrapper">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
