<!DOCTYPE html >
<html>
  <head>

    <%= render 'head' %>

  <body>
    <%= render 'shared/geolocation' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="container wrapper">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
